<mat-card class="grid-wrapper mat-elevation-z3">
    <div class="grid-container">
        <div class="grid-wallpaper">
            <img src="{{ componentWallpaper }}" />
            <div class="header-container">
                <div class="header">
                    <h1 class="mdc-typography--headline2 nomargin">{{ componentHeader }}</h1>
                </div>
            </div>
        </div>
        <div class="grid-header"></div>
        <div class="grid-content">
            <div style="border: 1px solid; border-color: rgba(0,0,0,.12); border-radius: 4px;">
                <a mat-icon-button href="{{ editpath }}" target="_blank">
                    <mat-icon>edit</mat-icon>
                </a>
                <markdown [src]="viewpath"></markdown>
            </div>
        </div>
        <div class="grid-toc">
            ToC
        </div>
        <div class="grid-comments">
            <disqus [identifier]="pageId"></disqus>
        </div>
        <div class="grid-footer"></div>
    </div>
</mat-card>
