.fab-container {
    position: fixed;
    bottom: 3vmax;
    right: 3vmax;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        button {
            margin-bottom: 1vmax;
        }

        a {
            margin-bottom: 1vmax;
        }
    }
}
