.menu-item {
    margin-bottom: 0.5vw;
}

.menu-exp-cont {
    display: flex;
    flex-direction: column;
    // padding-left: 16px;
}
mat-expansion-panel-header {
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
}

mat-checkbox {
    padding-left: 20px !important;
}
.legend-outer {
    // background-color: rgba(0, 0, 139, 0.33);
    height: 100%;
    position: fixed;
    right: 0px;
    top: 64px;
    padding: 2vw;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
}

div.map-container {
    position: relative;
    width: 100%;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    overflow: visible;
}
img.map {
    width: inherit;
    object-fit: inherit;
    border-radius: 4px;
}

.marker-32 {
    position: absolute;
    // width: calc(5vh / 3);
    width: 2.5vh;
    opacity: 0.8;
}

.marker-72 {
    position: absolute;
    width: calc(15vw / 4);
    opacity: 0.8;
}

.grid-wallpaper {
    grid-area: wallpaper;
}

.grid-header {
    grid-area: header;
}
.grid-content {
    overflow-y: auto;
    grid-area: content;
}
.grid-toc {
    grid-area: toc;
}

.grid-footer {
    grid-area: footer;
}

.grid-wallpaper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
@media (max-aspect-ratio: 1/1) {
    .marker-32 {
        position: absolute;
        // width: calc(5vh / 3);
        width: 2.25vh;
        opacity: 0.8;
    }

    .marker-72 {
        position: absolute;
        width: 5vh;
        opacity: 0.8;
    }

    .grid-wallpaper > img {
        border-radius: 0;
    }
    .grid-wrapper {
        border: none;
        box-shadow: none;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0;
        width: 100vw;
    }

    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh repeat(3, auto) 10vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". toc toc toc toc toc toc toc toc toc toc toc toc ."
            ". content content content content content content content content content content content content ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

@media (min-aspect-ratio: 1/1) {
    .grid-wrapper {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 90vw;
    }

    .grid-container {
        width: inherit;

        height: inherit;
        display: grid;
        grid-template-columns: 2vw repeat(12, auto) 2vw;
        grid-template-rows: 38.2vh repeat(3, auto) 10vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content  content content content toc toc toc ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

@media (min-aspect-ratio: 3/2) and (min-width: 1200) {
    .grid-wrapper {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 61.8vw;
    }
    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 2vw repeat(12, auto) 2vw;
        grid-template-rows: 38.2vh 5vw auto 10vw;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content  content content content toc toc toc ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

@media (min-aspect-ratio: 2/1) and (min-width: 1200) {
    .grid-wrapper {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 61.8vw;
    }
    .grid-container {
        width: inherit;
        height: inherit;

        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh 5vw auto 10vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content  content content content toc toc toc ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}
