/* Application-wide Styles */
@import "./dev-color.scss";

html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.noshadow {
    box-shadow: none !important;
}
.noback {
    background: none !important;
}

.noborder {
    border: none !important;
}

.mat-drawer-inner-container {
    scrollbar-width: thin;
    overflow-x: hidden !important;
    padding-right: 0.75vw;
    width: auto !important;
}

::-webkit-scrollbar {
    width: 1vmin;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}

.pad-right-16 {
    padding-right: 16px;
}
.text-left {
    text-align: left !important;
}
.material-icons.md-18 {
    margin-top: -3px;
    font-size: 18px;
}
.material-icons.md-24 {
    margin-top: -3px;
    font-size: 24px;
}
.material-icons.md-36 {
    margin-top: -3px;
    font-size: 36px;
}
.material-icons.md-48 {
    margin-top: -4px;
    font-size: 48px;
}
.reading {
    font-size: 2vmin;
    line-height: 3vmin;
    column-count: 3;
    column-gap: 5vmin;
    text-align: justify;
}

.grid-wallpaper {
    grid-area: wallpaper;
}

.grid-header {
    grid-area: header;
}
.grid-content {
    grid-area: content;
}
.grid-toc {
    grid-area: toc;
}

.grid-comments {
    grid-area: comments;
}

.grid-footer {
    grid-area: footer;
}

.grid-wallpaper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* @media (max-aspect-ratio: 9/16) {
    .marker-32 {
        position: absolute;
        // width: calc(5vh / 3);
        width: 1.5vmax;
        opacity: 0.8;
    }
}
 */

/* Mobile */
@media (max-width: 900px) {
    .menu {
        scrollbar-width: thin;
        padding: 2vw;
        overflow: hidden;
        top: 56px !important;
    }

    .container {
        height: 100%;
    }

    .marker-32 {
        position: absolute;
        // width: calc(5vh / 3);
        width: 2.25vmax;
        opacity: 0.8;
    }

    .marker-72 {
        position: absolute;
        width: 5vmax;
        opacity: 0.8;
    }

    .grid-wallpaper > img {
        border-radius: 0;
    }
    .grid-wrapper {
        border: none;
        box-shadow: none;
        padding: 0 !important;
        margin: 0;
        width: 100vw;
    }

    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh repeat(4, auto) 10vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". toc toc toc toc toc toc toc toc toc toc toc toc ."
            ". content content content content content content content content content content content content ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

/* Narrow */
@media (min-width: 900px) {
    .menu {
        scrollbar-width: thin;
        padding: 2vw;
        overflow: hidden;
        top: 64px !important;
    }
    .container {
        padding-top: 64px;
        height: 100%;
    }

    .grid-wrapper {
        padding: 0 !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 90vw;
    }

    .grid-container {
        width: inherit;

        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh repeat(3, auto) 10vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content  content content content toc toc toc ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

/* Wide */
@media (min-width: 1200px) and (min-aspect-ratio: 3/2) {
    .menu {
        scrollbar-width: thin;
        padding: 2vw;
        overflow: hidden;
        top: 64px !important;
    }
    .container {
        padding-top: 64px;
        height: 100%;
    }

    .grid-wrapper {
        padding: 0 !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 61.8vw;
    }
    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh repeat(3, auto) 1vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content  content content content toc toc toc ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

/* Ultra wide */
@media (min-width: 2000px) and (min-aspect-ratio: 2/1) {
    .menu {
        scrollbar-width: thin;
        padding: 2vw;
        overflow: hidden;
        top: 64px !important;
    }
    .container {
        padding-top: 64px;
        height: 100%;
    }

    .grid-wrapper {
        padding: 0 !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 61.8vw;
    }
    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh repeat(3, auto) 10vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content content content content toc toc toc ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}
