/* Application-wide Styles */

// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Roboto Slab', serif;
// font-family: 'Roboto', sans-serif;

@import "./dev-color.scss";
//@import "~@material/typography/mdc-typography";
@import "./assets/mdc.typography.css";

html,
body {
    // height: 100%;
    margin: 0;
}

.noshadow {
    box-shadow: none !important;
}
.noback {
    background: none !important;
}

.noborder {
    border: none !important;
}

.nomargin {
    margin: 0 !important;
}

.mat-drawer-inner-container {
    scrollbar-width: thin;
    overflow-x: hidden !important;
    padding-right: 0.75vw;
    width: auto !important;
}

::-webkit-scrollbar {
    width: 1vmin;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
}

.pad-right-16 {
    padding-right: 16px;
}
.text-left {
    text-align: left !important;
}
.material-icons.md-18 {
    margin-top: -3px;
    font-size: 18px;
}
.material-icons.md-24 {
    margin-top: -3px;
    font-size: 24px;
}
.material-icons.md-36 {
    margin-top: -3px;
    font-size: 36px;
}
.material-icons.md-48 {
    margin-top: -4px;
    font-size: 48px;
}
.reading {
    font-size: 2vmin;
    line-height: 3vmin;
    column-count: 3;
    column-gap: 5vmin;
    text-align: justify;
}

.grid-wallpaper {
    grid-area: wallpaper;
    position: relative;
}

.grid-header {
    grid-area: header;
}
.grid-content {
    grid-area: content;
}
.grid-toc {
    grid-area: toc;
}

.grid-comments {
    grid-area: comments;
}

.grid-footer {
    grid-area: footer;
}

.grid-wallpaper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.grid-wallpaper > .header-container {
    color: rgba(240, 240, 224, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: inset 0px -20vh 20vh -10vh rgba(0, 0, 0, 0.9);
}

.header-container > .header {
    // font-family: "Open Sans Condensed", sans-serif;
    // font-weight: 100;
    // font-size: 72px;
    // line-height: 96px;
    // font-kerning: normal;

    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2vmax;
}

.menu {
    scrollbar-width: thin;
    padding: 1vw;
    overflow: hidden;
}

/* Mobile */
@media (max-width: 900px) {
    .menu {
        top: 56px !important;
    }

    .container {
        height: 100%;
    }

    .grid-wallpaper > img {
        border-radius: 0;
    }
    .grid-wrapper {
        border: none;
        box-shadow: none;
        padding: 0 !important;
        margin: 0;
        width: 100vw;
    }

    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh repeat(4, auto) 1vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". toc toc toc toc toc toc toc toc toc toc toc toc ."
            ". content content content content content content content content content content content content ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

/* Narrow */
@media (min-width: 900px) {
    .menu {
        top: 64px !important;
    }
    .container {
        padding-top: 64px;
        height: 100%;
    }

    .grid-wrapper {
        padding: 0 !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 90vw;
    }

    .grid-container {
        width: inherit;

        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 38.2vh repeat(3, auto) 1vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content  content content content toc toc toc ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

/* Wide */
@media (min-width: 1200px) and (min-aspect-ratio: 3/2) {
    .container {
        padding-top: 64px;
        height: 100%;
    }

    .grid-wrapper {
        padding: 0 !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 66.67vw;
    }
    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 50vh repeat(3, auto) 1vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content  content content content toc toc toc ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

/* Ultra wide */
@media (min-width: 2000px) and (min-aspect-ratio: 2/1) {
    .container {
        padding-top: 64px;
        height: 100%;
    }

    .grid-wrapper {
        padding: 0 !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vw;
        margin-bottom: 1vw;
        width: 61.8vw;
    }
    .grid-container {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1vw repeat(12, auto) 1vw;
        grid-template-rows: 50vh repeat(3, auto) 1vw;
        grid-column-gap: 1vw;
        grid-row-gap: 1vw;
        grid-template-areas:
            "wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper wallpaper"
            ". header header header header header header header header header header header header ."
            ". content content content content content content content content content toc toc toc ."
            ". comments comments comments comments comments comments comments comments comments comments comments comments ."
            "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}
